{%load static%}
<footer>

    <a href="" target="_blank" rel="noopener" arial-label="Linked - Opens in a new tab">
        <img src ="{% static '/icons/icons8-linkedin.svg' %}" alt="LinkedIn Icon" class="social-icon">
    </a>

    <a href="" target="_blank" rel="noopener" arial-label="Instagram - Opens in a new tab">
        <img src ="{% static '/icons/icons8-instagram.svg' %}" alt="Instagram Icon" class="social-icon">
    </a>

    <a href="" target="_blank" rel="noopener" arial-label="Twitter - Opens in a new tab">
        <img src ="{% static '/icons/icons8-twitter.svg' %}" alt="Twitter Icon" class="social-icon">
    </a>

    <a href="" target="_blank" rel="noopener" arial-label="Youtube - Opens in a new tab">
        <img src ="{% static '/icons/icons8-youtube.svg' %}" alt="Youtube Icon" class="social-icon">
    </a>
</footer>