
{% extends 'admin/change_list.html' %}
{% load static %}

{% block extrahead %}
{{ block.super }}

<link rel="stylesheet" href="{% static '/css/h1.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  
  document.addEventListener('DOMContentLoaded', function() {

    //MEALTYPE--------------------------------------------------------------------------
    var mealTypeCounts = JSON.parse('{{ meal_type_counts|safe }}');
    console.log('mealTypeCounts:', mealTypeCounts);

    var mealTypes = [];
    var recipeCounts = [];

    // Extract meal types and recipe counts from JSON data
    mealTypeCounts.forEach(function(item) {
        mealTypes.push(item.meal_type);
        recipeCounts.push(item.count);
    });

    // Define an array of complementary colors to violet
    var complementaryColors = [
    'rgba(255, 99, 132, 0.6)',    // Red (transparent)
    'rgba(54, 162, 235, 0.6)',    // Blue (transparent)
    'rgba(255, 206, 86, 0.6)',    // Yellow (transparent)
    'rgba(75, 192, 192, 0.6)',    // Green (transparent)
    'rgba(255, 0, 0, 0.6)',       // Bright Red (transparent)
    'rgba(0, 255, 0, 0.6)',       // Bright Green (transparent)
    'rgba(0, 0, 255, 0.6)',       // Bright Blue (transparent)
    'rgba(255, 255, 0, 0.6)',     // Bright Yellow (transparent)
    'rgba(128, 0, 128, 0.6)',     // Purple (transparent)
    'rgba(255, 165, 0, 0.6)',     // Orange (transparent)
    'rgba(0, 128, 128, 0.6)',     // Teal (transparent)
    'rgba(139, 69, 19, 0.6)'
    ];

    // Create a bar chart for recipe count
    var ctx = document.getElementById('chart').getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: mealTypes,
            datasets: [{
                label: 'Recipe Count',
                data: recipeCounts,
                backgroundColor: complementaryColors,
                borderColor: complementaryColors,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    precision: 0
                }
            }
        }
    });



    //SERVINGSCOUNT--------------------------------------------------------------------------

    var servingData = JSON.parse(('{{ serving_data|safe }}'));
    console.log('servingData:', servingData);

    var recipeNames = [];
    var servingCounts = [];

    // Extract recipe names and serving counts from JSON data
    servingData.forEach(function(item) {
        recipeNames.push(item.title);
        servingCounts.push(item.servings);
    });

    // Create a bar chart for serving count
    var servingCtx = document.getElementById('serving-chart').getContext('2d');
    new Chart(servingCtx, {
        type: 'bar',
        data: {
            labels: recipeNames,
            datasets: [{
                label: 'Serving Count',
                data: servingCounts,
                backgroundColor: complementaryColors,
                borderColor: complementaryColors,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    precision: 0
                }
            }
        }
    });

    //DIFFICULTY--------------------------------------------------------------------------

    var recipeDifficulties = JSON.parse('{{ recipe_difficulties|safe }}');
    console.log('recipeDifficulties:', recipeDifficulties);

    var difficulties = [];
    var recipeCounts = [];

    // Extract recipe difficulties and counts from JSON data
    recipeDifficulties.forEach(function(item) {
        difficulties.push(item.recipe_difficulty);
        recipeCounts.push(item.count);
    });

    // Create a polar area chart for recipe difficulty
    var ctx = document.getElementById('difficulty-chart').getContext('2d');
    new Chart(ctx, {
        type: 'polarArea',
        data: {
            labels: difficulties,
            datasets: [{
                data: recipeCounts,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',   // Red (transparent)
                    'rgba(54, 162, 235, 0.6)',   // Blue (transparent)
                    'rgba(255, 206, 86, 0.6)',   // Yellow (transparent)
                    'rgba(75, 192, 192, 0.6)'    // Green (transparent)
                ],
                borderColor: 'rgba(255, 255, 255, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scale: {
                ticks: {
                    beginAtZero: true
                },
                reverse: false
            },
            legend: {
                position: 'bottom'
            },
            plugins: {
                datalabels: {
                    color: '#000',
                    anchor: 'end',
                    align: 'start',
                    offset: 10,
                    padding: 5
                }
            }
        }
    });




    //ANALYTCIS RECIPE--------------------------------------------------------------------------

var recipeData = JSON.parse('{{ recipe_per_month|safe }}');

// Prepare the data for the chart
var labels = [];
var counts = [];

// Create an array with month names from January to December
var months = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
];

// Loop through the months array and check if the corresponding data exists in recipeData
for (var i = 0; i < 12; i++) {
    var monthData = recipeData.find(function(item) {
        var date = new Date(item.month);
        return date.getMonth() === i;
    });

    if (monthData) {
        labels.push(months[i] + ' ' + monthData.month.slice(-4));
        counts.push(monthData.count);
    } else {
        labels.push(months[i]);
        counts.push(0);
    }
}

// Create the chart
var ctx = document.getElementById("recipeAnalytics").getContext("2d");
new Chart(ctx, {
    type: "line",
    data: {
        labels: labels,
        datasets: [{
            label: "Recipes added per month",
            data: counts,
            backgroundColor: "rgba(147, 13, 197, 0.2)", // Change the background color to white with opacity
            borderColor: "rgba(166, 13, 222, 1)", // Change the border color to white
            borderWidth: 2, // Increase the border width to make the line thicker
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                ticks: {
                    stepSize: 1,
                    precision: 0
                }
            }
        }
    }
});

//total_prep--------------------------
// Recipe Preptime
var recipePreptime = JSON.parse('{{ recipe_preptime|safe }}');
    console.log('recipePreptime:', recipePreptime);

    var recipeNames = [];
    var totalPreptimes = [];

    // Extract recipe names and total preptime from JSON data
    recipePreptime.forEach(function(item) {
      recipeNames.push(item.title);
      totalPreptimes.push(item.total_preptime);
    });

    // Find the recipe with the highest total preptime
    var maxPreptime = Math.max(...totalPreptimes);
    var maxPreptimeIndex = totalPreptimes.indexOf(maxPreptime);

    // Create an array of bar colors with the highest preptime bar in red
    var barColors = totalPreptimes.map(function(preptime, index) {
      if (index === maxPreptimeIndex) {
        return 'rgba(255, 0, 0, 0.6)';  // Red (transparent)
      } else {
        return 'rgba(54, 162, 235, 0.6)';  // Blue (transparent)
      }
    });

    // Create a horizontal bar chart for total preptime
    var ctx = document.getElementById('preptime-chart').getContext('2d');
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: recipeNames,
          datasets: [{
            label: 'Total Preptime',
            data: totalPreptimes,
            backgroundColor: barColors,
            borderColor: 'rgba(0, 0, 0, 0.6)',
          }]
        },
        options: {
          indexAxis: 'y', // Rotate the chart to display as horizontal bars
          scales: {
            x: {
              beginAtZero: true,
              precision: 0
            }
          }
        }
      });


      var recipeCooktime = JSON.parse('{{ recipe_cooktime|safe }}');
console.log('recipeCooktime:', recipeCooktime);

var recipeNames = [];
var totalCooktimes = [];

// Extract recipe names and total cooktime from JSON data
recipeCooktime.forEach(function(item) {
  recipeNames.push(item.title);
  totalCooktimes.push(item.total_cooktime);
});

// Find the recipe with the highest total cooktime
var maxCooktime = Math.max(...totalCooktimes);
var maxCooktimeIndex = totalCooktimes.indexOf(maxCooktime);

// Create an array of bar colors with the highest cooktime bar in red
var barColors = totalCooktimes.map(function(cooktime, index) {
  if (index === maxCooktimeIndex) {
    return 'rgba(255, 0, 0, 0.6)';  // Red (transparent)
  } else {
    return 'rgba(54, 162, 235, 0.6)';  // Blue (transparent)
  }
});

// Create a horizontal bar chart for total cooktime
var ctx = document.getElementById('cooktime-chart').getContext('2d');
new Chart(ctx, {
  type: 'bar',
  data: {
    labels: recipeNames,
    datasets: [{
      label: 'Total Cooktime',
      data: totalCooktimes,
      backgroundColor: barColors,
      borderColor: 'rgba(0, 0, 0, 0.6)',
    }]
  },
  options: {
    indexAxis: 'y', // Rotate the chart to display as horizontal bars
    scales: {
      x: {
        beginAtZero: true,
        precision: 0
      }
    }
  }
});

//prices-------------------------------------------------
            var recipePrices = JSON.parse('{{ recipe_prices|safe }}');
            var recipeNames = recipePrices.map(function(recipe) { return recipe.title; });
            var prices = recipePrices.map(function(recipe) { return recipe.price; });

            var ctx = document.getElementById("radar-chart").getContext("2d");
            new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: recipeNames,
                    datasets: [
                        {
                            label: 'Prices',
                            data: prices,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1,
                        },
                    ],
                },
                options: {
                    scale: {
                        ticks: {
                            beginAtZero: true,
                        },
                    },
                },
              });



}); // Closing bracket for DOMContentLoaded event listener



</script>
{% endblock %}

{% block result_list %}
<div style="display: flex;margin-bottom: 50px;">
  <div class="container d-flex justify-content-start align-items-start" style="width: 35%;">
    <div>
      <img src="{% static '/icons/chef2.png' %}" style="height: 400px;margin-top: -30px;">
      <h1 class="header" >Hello,<br> {{ request.user.get_full_name }}<img src="{% static '/icons/icons-handwave.svg' %}" style="height: 50px;margin-top: -30px;"></h1>
    </div>
  </div>
  <div class="container" style="border-radius: 20px; background: #dbbfdf; box-shadow: 20px 20px 60px #a48fa7, -20px -20px 60px #ffefff; padding: 20px;">
    <div class="row">
      <div class="col-lg-3">
        <div>
            <img src="{% static '/icons/chef.png' %}" alt="RecipeBook" style="height: 50px;margin-bottom: 10%;">
            <h5 class="card-title" style="font-size: 30px; margin-left: 10px;">{{ recipe_count }}</h5>
            <p class="card-text" style="font-size: 25px;">Total number of recipes</p>
          </div>
      </div>
      <div class="col-lg-9">
          <div class="col-md-12">
            <canvas id="recipeAnalytics" style="width: 100%; height: 400px;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>


 

<!----------------->

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card shadow" style="border: none;">
      <canvas id="chart"></canvas>
      <div class="card-body">
        <h5 class="card-title">Number of Meals Based on Meal Type</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow" style="border: none;">
      <canvas id="serving-chart"></canvas>
      <div class="card-body">
        <h5 class="card-title">Servings Chart</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
</div>
<!------------------>
<div class="container-fluid" style="padding: 2%;">
  <div class="row justify-content-center">
    <div class="col-md-3" style="border-radius: 40px; background: #937de4; box-shadow: 26px 26px 52px #614cad, inset -26px -26px 52px #8f6bff; margin-right: 2%; margin-left: 20px;">
      <h3>Recipe with Highest Preptime</h3>
      {% if recipe_with_max_preptime_image_url %}
      <h2>This recipe is quite hard to make<img src="{% static '/icons/annoyed.png' %}" style="height: 30px;"></h2>
      <div style="border-radius: 40px; overflow: hidden;">
        <img src="{{ recipe_with_max_preptime_image_url }}" alt="Recipe Image" style="width: 100%; border-radius: 40px;">
      </div>
      {% else %}
      <p>No recipes found.</p>
      {% endif %}
      <h4>{{ max_preptime_recipe.title }} - {{ max_preptime_recipe.total_preptime }} minutes</h4>
    </div>
    <div class="col-md-3" style="border-radius: 40px; background: #ffc252; margin-right: 2%;">
      <h3>Recipe with Highest Cooktime</h3>
      {% if recipe_with_max_cooktime_image_url %}
      <h2>You might want to reconsider cooking this if you are hungry<img src="{% static '/icons/think.png' %}" style="height: 30px;"></h2>
      <div style="border-radius: 40px; overflow: hidden;">
        <img src="{{ recipe_with_max_cooktime_image_url }}" alt="Recipe Image" style="width: 100%; border-radius: 40px;">
      </div>
      {% else %}
      <p>No recipes found.</p>
      {% endif %}
      <h4>{{ max_cooktime_recipe.title }} - {{ max_cooktime_recipe.total_cooktime }} minutes</h4>
    </div>
    <div class="col-md-3" style="border-radius: 40px; background: #b4f16b; margin-right: 2%;">
      <h3>Recipe with Highest Price</h3>
      {% if recipe_with_max_price_image_url %}
      <h2>You might want to reconsider cooking this if you are hungry<img src="{% static '/icons/shocked.png' %}" style="height: 30px;"></h2>
      <div style="border-radius: 40px; overflow: hidden;">
        <img src="{{ recipe_with_max_price_image_url }}" alt="Recipe Image" style="width: 100%; border-radius: 40px;">
      </div>
      {% else %}
      <p>No recipes found.</p>
      {% endif %}
      <h4>{{ max_price_recipe.title }} - {{ max_price_recipe.price }}</h4>
    </div>
  </div>
</div>





</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card shadow" style="border: none; background-color: white;">
      <canvas id="preptime-chart"></canvas>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow" style="border: none; background-color: white;">
      <canvas id="cooktime-chart"></canvas>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow" style="border: none; background-color: white;">
      <canvas id="difficulty-chart"></canvas>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow" style="border: none; background-color: white;">
      <canvas id="radar-chart"></canvas>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
</div>

{{ block.super }}
{% endblock %}
